.traits {
	display: flex;
	flex-wrap: wrap;
}

.competences {
	width: 498px;
	border: 1px solid #ddd;
	margin: 15px;
	padding: 20px;
}

.competences h1 {
	font-weight: 600;
	font-size: 20px;
}

.competence {
	display: flex;
}

.competence label{
	display: block;
	width: 210px;
	text-align: left;
}

.competence .speciality {
	width: 240px;
	text-align: right;
	margin-right: 2px;
}

.competence .dice {
	width: 20px;
	margin: 0 2px 0 2px;
}

.competence button {
	width: 20px;
	padding: 0px;
	margin: 0 2px 0 2px;
}
