html {
	background: url('../img/wood_back.jpg') no-repeat center center fixed;
	background-size: cover;
}

.logo {
	width: 100%;
	height: 150px;
	text-align: center;
}

.logo img {
	height: 150px;
}

@font-face {
    font-family: 'showboat';
    src: url('../img/showboa_-webfont.woff2') format('woff2'),
         url('../img/showboa_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'saloon';
    src: url('../img/saloon-webfont.woff2') format('woff2'),
         url('../img/saloon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
	background: url('../img/papier.gif') repeat;
	text-align: center;
	width: 1140px;
	margin: 20px auto 20px auto;
	padding: 50px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
