@keyframes flip {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(180deg);
	}
}

#tapis {
	perspective: 1000px;
	perspective-origin: top;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.line {
	/*height: 300px;*/
	overflow: auto;
}

.pos_card {
	width: 150px;
	height: 240px;
	float: left;
	margin: 0 20px 0 20px;
}

.card {
	width: 150px;
	height: 210px;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card figure {
	margin: 0;
	border-radius: 7px;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

.display {
	position: relative;
	top: 210px;
}

.card .front {
	transform: rotateY( 180deg );
}

.card .back {
	background: url('../img/card_back.jpg') no-repeat;
}

.flipped {
	transform: rotateY( 180deg );
}

#Red_0 {
	background: url('../img/deck_1s.jpg') 0px 0px no-repeat;
}

#Black_0 {
	background: url('../img/deck_1s.jpg') -150px 0px no-repeat;
}

#Heart_1 {
	background: url('../img/deck_1s.jpg') -300px 0px no-repeat;
}

#Heart_2 {
	background: url('../img/deck_1s.jpg') 0px -210px no-repeat;
}

#Heart_3 {
	background: url('../img/deck_1s.jpg') -150px -210px no-repeat;
}

#Heart_4 {
	background: url('../img/deck_1s.jpg') -300px -210px no-repeat;
}

#Heart_5 {
	background: url('../img/deck_1s.jpg') 0px -420px no-repeat;
}

#Heart_6 {
	background: url('../img/deck_1s.jpg') -150px -420px no-repeat;
}

#Heart_7 {
	background: url('../img/deck_1s.jpg') -300px -420px no-repeat;
}

#Heart_8 {
	background: url('../img/deck_2s.jpg') 0px 0px no-repeat;
}

#Heart_9 {
	background: url('../img/deck_2s.jpg') -150px 0px no-repeat;
}

#Heart_10 {
	background: url('../img/deck_2s.jpg') -300px 0px no-repeat;
}

#Heart_11 {
	background: url('../img/deck_2s.jpg') -0px -210px no-repeat;
}

#Heart_12 {
	background: url('../img/deck_2s.jpg') -150px -210px no-repeat;
}

#Heart_13 {
	background: url('../img/deck_2s.jpg') -300px -210px no-repeat;
}

#Spade_1 {
	background: url('../img/deck_2s.jpg') 0px -420px no-repeat;
}

#Spade_2 {
	background: url('../img/deck_2s.jpg') -150px -420px no-repeat;
}
#Spade_3 {
	background: url('../img/deck_2s.jpg') -300px -420px no-repeat;
}
#Spade_4 {
	background: url('../img/deck_3s.jpg') 0px 0px no-repeat;
}
#Spade_5 {
	background: url('../img/deck_3s.jpg') -150px 0px no-repeat;
}
#Spade_6 {
	background: url('../img/deck_3s.jpg') -300px 0px no-repeat;
}
#Spade_7 {
	background: url('../img/deck_3s.jpg') 0px -210px no-repeat;
}
#Spade_8 {
	background: url('../img/deck_3s.jpg') -150px -210px no-repeat;
}
#Spade_9 {
	background: url('../img/deck_3s.jpg') -300px -210px no-repeat;
}
#Spade_10 {
	background: url('../img/deck_3s.jpg') 0px -420px no-repeat;
}
#Spade_11 {
	background: url('../img/deck_3s.jpg') -150px -420px no-repeat;
}
#Spade_12 {
	background: url('../img/deck_3s.jpg') -300px -420px no-repeat;
}
#Spade_13 {
	background: url('../img/deck_4s.jpg') 0px 0px no-repeat;
}
#Club_1 {
	background: url('../img/deck_4s.jpg') -150px 0px no-repeat;
}
#Club_2 {
	background: url('../img/deck_4s.jpg') -300px 0px no-repeat;
}
#Club_3 {
	background: url('../img/deck_4s.jpg') 0px -210px no-repeat;
}
#Club_4 {
	background: url('../img/deck_4s.jpg') -150px -210px no-repeat;
}
#Club_5 {
	background: url('../img/deck_4s.jpg') -300px -210px no-repeat;
}
#Club_6 {
	background: url('../img/deck_4s.jpg') 0px -420px no-repeat;
}
#Club_7 {
	background: url('../img/deck_4s.jpg') -150px -420px no-repeat;
}
#Club_8 {
	background: url('../img/deck_4s.jpg') -300px -420px no-repeat;
}
#Club_9 {
	background: url('../img/deck_5s.jpg') 0px 0px no-repeat;
}
#Club_10 {
	background: url('../img/deck_5s.jpg') -150px 0px no-repeat;
}
#Club_11 {
	background: url('../img/deck_5s.jpg') -300px 0px no-repeat;
}
#Club_12 {
	background: url('../img/deck_5s.jpg') 0px -210px no-repeat;
}
#Club_13 {
	background: url('../img/deck_5s.jpg') -150px -210px no-repeat;
}
#Diamond_1 {
	background: url('../img/deck_5s.jpg') -300px -210px no-repeat;
}
#Diamond_2 {
	background: url('../img/deck_5s.jpg') 0px -420px no-repeat;
}
#Diamond_3 {
	background: url('../img/deck_5s.jpg') -150px -420px no-repeat;
}
#Diamond_4 {
	background: url('../img/deck_5s.jpg') -300px -420px no-repeat;
}
#Diamond_5 {
	background: url('../img/deck_6s.jpg') 0px 0px no-repeat;
}
#Diamond_6 {
	background: url('../img/deck_6s.jpg') -150px 0px no-repeat;
}
#Diamond_7 {
	background: url('../img/deck_6s.jpg') -300px 0px no-repeat;
}
#Diamond_8 {
	background: url('../img/deck_6s.jpg') 0px -210px no-repeat;
}
#Diamond_9 {
	background: url('../img/deck_6s.jpg') -150px -210px no-repeat;
}
#Diamond_10 {
	background: url('../img/deck_6s.jpg') -300px -210px no-repeat;
}
#Diamond_11 {
	background: url('../img/deck_6s.jpg') 0px -420px no-repeat;
}
#Diamond_12 {
	background: url('../img/deck_6s.jpg') -150px -420px no-repeat;
}
#Diamond_13 {
	background: url('../img/deck_6s.jpg') -300px -420px no-repeat;
}
